.App {
  display: flex;
  width:800px;
  margin:0 auto;
  
}
.App > div {
  flex:1;
  border: 1px solid #ccc;
  padding:10px;
}

ul, li{
  margin:0 auto;
  padding:0;
  list-style-type:none;
}
.user-list{
  cursor:pointer;
}
.user-list li:hover{
  color:#4b4b4b;
}

