 ul,li{
  padding:0;
  margin:0  ;
  list-style-type:none;
 }
 .menu{
  display:flex;
  border-bottom:1px solid #ccc;
  padding:10px 0px;
  column-gap:10px;
 }
 .form > div{
    margin-bottom :10px;
 }
 .form > div > label {
    display:block;
 }
 .form > div > input, .form > div > textarea  {
    padding:5px;
    
 }