body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.board-row {
  display: flex;
}

.square {
  width: 80px;
  height: 80px;
  border: 1px solid #999;
  background: #fff;
  font-size: 32px;
  font-weight: bold;
  line-height: 80px;
  /* yaz覺y覺 dikey ortalar */
  text-align: center;
  /* yaz覺y覺 yatay ortalar */
  cursor: pointer;
}